<footer class="footer-card-section">
  <div class="container">
    <div class="footer-business-card">

      <div class="footer-left">
        <img
         id="footerLogo"
          src="./assets/img/logo-superior.jpeg"
          alt="H+ Assessoria"
          class="footer-brand-logo"
        />
      </div>

      <div class="footer-divider"></div>

      <div class="footer-right">
        <h2>Angela B. Cunha</h2>
        <h4>Gestora Comercial</h4>

        <p>
          <i class="bi bi-envelope"></i>
          angela@hmaiscreditoimobiliario.com.br
        </p>

        <p>
          <i class="bi bi-whatsapp"></i>
          19 9 9239 2090
        </p>

        <div class="caixa-badge">CAIXA aqui</div>
      </div>

      <div class="footer-address">
        Rua Manoel Matheus, 192 sala 3 - Centro - CEP 13280-103 - Vinhedo/SP
      </div>

    </div>
  </div>
</footer>